:root{
    --red: #9b2226;
    --dark-blue: #001219;
    --beige: #e9d8a6;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--beige);
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-areas: 
            "a"
            "b"
            "c"     ;
    font-family: "Courier New", monospace;
    caret-color: transparent;
    cursor:default;
}
main{
    overflow: hidden;
    position: relative;
    height: fit-content;
    padding-left: 15%;
    padding-right: 15%;

}

header{
    position: relative;
    display: grid;  
    color: var(--red);
    max-height: 15%;
    height: fit-content;
    z-index: 1;
    box-shadow: 0px 2px 5px #777;

}

.titlu .principal{
    display: flex;
    justify-content: flex-start;
    font-weight: 900;
    font-size: 2.5em; 
    border-bottom: 1px solid var(--red);
    padding-top: 2%;

}
.titlu .principal .blinking-cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color:var(--dark-blue) ;
    animation: blink 1s step-end infinite;
    caret-color: transparent;
  }
  
@keyframes blink {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}  

.meniu{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: .5%;
    padding-bottom: .5%;
    min-height: 5.01em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    box-shadow: 0px 2px 5px var(--dark-blue);
}

.meniu .logo{
    padding-top: 0.5em;
    height: 3.7em;
    animation: shake 2s ease-in infinite;
}

@keyframes shake {
    0% { 
        transform: translate(0, 0) rotate(0deg); 
    }
    60% {
        transform: translate(-5px, -5px) rotate(-15deg);
        height: 4.2em;
    }
    70% {
        transform: translate(-5px, -5px) rotate(-15deg);
        height: 4.2em;
    }
    80% { 
        transform: translate(0px, 0px) rotate(0deg); 
        height: 3.7em;
    }  
    87.5% { 
        transform: translate(-5px, 1px) rotate(0deg);
    } 
    90% { 
        transform: translate(0px, 0px) rotate(0deg); 
    } 
    92.5% { 
        transform: translate(5px, 1px) rotate(0deg); 
    } 
    95% { 
        transform: translate(0px, 0px) rotate(0deg); 
    }
    97.5% { 
    transform: translate(-5px, 1px) rotate(-1deg);
    }
    100% {
         transform: translate(0, 0) rotate(0deg); 
    }
}

.meniu .meniuLinks{
    flex: 1;
    text-align: right;
}

.meniu .meniuLinks ul li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding:   8px 12px;
}

.meniu >.meniuLinks > ul> li:nth-child(3)::after{
    content: "▾";
    font-size: 1.2em;

}

.meniu .dropdown > ul> li:nth-child(2)::before{
    content: "▾";
    font-size: 1.2em;
}

.meniu ul li .button{
    text-decoration: none;
    color: var(--beige);
    font-size: 110%;
    transition: all 0.3s;
}

.meniu ul li .button:hover{
    color: var(--red);
}

.dropdown{
    display: none;
    transition: display 0.3s ease;
}

.dropdown ul{
    display: block;
    position: relative;
    text-align: left;
}

.dropdown ul li{
    display: block;
    width: max-content;
    margin-top: 1em;
}

.dropdown ul li:last-child{
    margin-bottom: 1em;
}

.dropdown ul li .button{
    text-align: center;
}

.meniu ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--dark-blue);
    box-shadow: 0px 2px 5px var(--dark-blue);
}

.sub-dropdown{
    display: none;
    position: absolute;
    top: 0%;
    right: 100%;
    padding-right: 0.5em;
    transition: display 0.3s ease;
    background-color: var(--dark-blue);
    box-shadow: 0px 2px 5px var(--dark-blue);
}

.sub-dropdown ul{
    display: block;
    position: relative;
    text-align: left;
}

.sub-dropdown ul li{
    display: block;
    width: max-content;
    margin-top: 1em;
}
.sub-dropdown ul li:last-child{
    margin-bottom: 1em;
}

.sub-dropdown ul li .button{
    text-align: center;
}

.dropdown ul li:hover .sub-dropdown{
    display: block;
}
.button.meniuIcon, .button.close{
    display: none;
}

@media(max-width: 700px) {
    header{
        box-shadow: 0px 1px 3px #777;
    }
    .meniu .logo{
        height: 2.5em;
    }
    .titlu .principal{
        font-size: 2em;
    }
    
    .meniu .meniuLinks ul{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding-top: 1em;
        
    }
    
    .meniu .meniuLinks ul li{
        display: block;
    }

    .meniu .meniuLinks{
        display: none;
        position: absolute;
        background-color: var(--dark-blue);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
    }

    .button.close{
        display: block;
        margin-top: 10%;
        margin-left: 5%;
        cursor: pointer;
    }
    .button.close:hover, .button.meniuIcon:hover{
        text-decoration: underline;
    }
    .button.meniuIcon{
        display: block;
        padding-right: 1em;
        color: var(--beige);
        cursor: pointer;
    }
    
}
@media screen and (min-width: 700px) and (max-width: 850px){

    header{
        box-shadow: 0px 1px 3px #777;
    }
    .meniu .logo{
        height: 2.5em;
    }
    .meniu{
        font-size: 0.8em;
    }
    .titlu .principal{
        font-size: 2em;
    }
    
    @keyframes shake {
        70% {
            transform: translate(-5px, -5px) rotate(-15deg);
            height: 3.5em;
        }
    }
    
}

.tableContainer{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
}
.leftSide{
    position: sticky;
    padding-right: 5%;
    width: fit-content;
}

.leftSide section{
    border-bottom: 1px solid var(--red);
    padding-top: 5%;
    width: fit-content;

}

.leftSide section h1{
    font-size: 1em;
    width: 10em;
    color: var(--red);
}

.leftSide section ul li{
    padding: 1% 0%;
    list-style-type: none;
    text-decoration: none;
}

.leftSide section button{
    padding: 1% 3%;
    background-color: var(--beige);
    border: 1px solid var(--red);
    margin-top: 1%;
    margin-bottom: 4%;
    transition:all 0.3s;
}

.leftSide section ul li:hover{
    text-decoration: underline var(--red);
}

.leftSide section button:hover{
    background-color: var(--red);
    border: 1px solid var(--dark-blue);
    color: var(--beige);
}


table{
    width: 100%;
    border-spacing: 0;
}

table th{
    text-align: left;
    color: var(--red);
    font-weight: 900;
}


table td, table th{
    border-bottom: 1px solid var(--red);
    padding: 1%;
}

table td:nth-child(2), table th:nth-child(2){
    max-width: 12em;
}

table tr img{
    height: 7em;
}


footer{
    position:-ms-page;


    margin-top: 2%;
    border-top: 2px solid var(--red);
    border-bottom: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
    background-color: var(--dark-blue);
}

footer a{
    padding: 2%;
    text-decoration: none;
    font-weight: bold;
    color: var(--beige);
    transition: all 0.3s;
}
footer a:hover{
    color: var(--red);
}
  

@media(max-width: 700px){
    footer {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
      
    footer a {
        padding: 0;
        margin: 0;

        justify-self: center;   
  }
}
@media(max-width: 850px){

    footer {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
      
    footer a {
        padding: 0;
        margin: 0;

        justify-self: center;   
  }
}



