body{
    background-color: #001219;
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-rows:  1fr 5fr 0.1fr;
    grid-template-areas: 
            "a"
            "b"
            "c"     ;
    font-family: Courier New, monospace;
    caret-color: transparent;
}
main{
    position: relative;
    z-index: 2;

}

header{
    position: relative;
    display: grid;  
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "a"
        "b";
    background-color: #e9d8a6;
    color: #9b2226;
    z-index: 1;
    box-shadow: 0px 2px 5px #777;
}

.titlu{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.titlu #principal{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 4em; 

}
.titlu #principal #blinking-cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color:#9b2226 ;
    animation: blink 1s step-end infinite;
    caret-color: transparent; /* Hide the default caret */
  }
  
@keyframes blink {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.titlu #subTitlu{
    display: flex;
    justify-self: center;
    font-weight: 100;
    font-size: 1.5em;
}   

#meniu{
    margin: 0;
    padding: 0;
    padding-right: 2em;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #001219;
    box-shadow: 0px 2px 5px #777;
}


#meniu ul li{
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-left: 1em;
     
}

#meniu ul li a{
    text-decoration: none;
    color: #e9d8a6;
    font-family: Courier New, monospace;
    font-size: 1em;
}

#meniu .button:hover{
    color: #9b2226;
}

#meniu #logo{
    position: absolute;
    top: 0;
    left: 0;
    height:100px; /* match navbar height */
    padding-left: 1em;
}

#sectiuneFilme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    justify-content: space-around;
}

#sectiuneFilme img{
    width: 100%;
}

.image-container {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #001219B0  /* Change this to the color you want */
}

#sectiuneFilme .image-container:hover {
    width: 120%;
    z-index: 1;
    opacity: 1;
}

.image-container:hover #overlay {
    opacity: 1;
}


#titluSectiune{
    padding-left: 1em;
    color: #9b2226;
}